{
    "d01":{
        "rootPath": "/home/k8s/"
    },
    "d02":{
        "rootPath": "/home/k8s/"
    },
    "d03":{
        "rootPath": "/home/k8s/"
    },
    "d04":{
        "rootPath": "/home/k8s/"
    },
    "d05":{
        "rootPath": "/home/k8s/"
    },
    "d06":{
        "rootPath": "/home/k8s/"
    },
    "d07":{
        "rootPath": "/home/k8s/"
    },
    "d08":{
        "rootPath": "/home/k8s/"
    },
    "d09":{
        "rootPath": "/home/k8s/"
    },
    "s01":{
        "rootPath": "/home/ubuntu/"
    }
}